body{
	background:url(images/background.jpg) no-repeat center center fixed ;
	-webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
	background-size:cover;
	padding-top:15em;
	font-family:poppins;
}

#home header carousel-inner .item{
	height:100vh;
}
#home img{
	height:510px;
	width:1000px;
}
.bg-light {
	background:url(images/navbar.jpg);
	font-size:20px;	
}

.nav-link{
	color:white;
}

#home h1{
	font-size:90px;
	-webkit-text-stroke: 1px black;
	color:white;
	text-shadow: 3px 3px 0 #000,
				-1px -1px 0 #000,  
				 1px -1px 0 #000,
				-1px 1px 0 #000,
				 1px 1px 0 #000;

}

#home nav a{
	color:white;
}
#hours nav a{
	color:white;
}
#search nav a{
	color:white;
}
#login nav a{
	color:white;
}
#insert nav a{
	color:white;
}
#docs nav a{
	color:white;
}

#home p{
	font-size:35px;	
	color:white;
	-webkit-text-stroke: 1px brown;
	text-shadow: 0.15px 0.15px 0 #000,
				-0.15px -0.15px 0 #000,  
				 0.15px -0.15px 0 #000,
				-0.15px 0.15px 0 #000,
				 0.15px 0.15px 0 #000;
}
.blur {
  background: url(images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  filter: blur(7px);
  position: absolute;
  height:900px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}

.widget {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  height: 325px;
  width: 100%;
  overflow: hidden;
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.text {
  height: 400px;
  width: 900px;
}

#hours{
  color:white;
}
#docs{
  color:white;
}
.text h1 {
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  color: #ffffff;
  margin-top: 57px;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 38px;
}

.text p {
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  margin: 0px;
  font-family: 'Lato', serif;
  font-weight: 400;
  font-size: 22px;
  height:700px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  
}
.grid-item {
	color:white;
  font-size: 30px;
  text-align: center;
  height:900px;
}

form{
	padding-top:5px;
	color:white;
	font-size:25px;	
	
}
.dropdown-menu{
	color:black;
}

#insert form{
  background:url(images/insert.jpg) no-repeat center center fixed ;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
	background-size:cover;
  color:black;

}

.table{
  background:url(images/bg.jpg) no-repeat center center fixed ;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
	background-size:cover;
}

#del{
  background-color:brown;
}

#hours header {
    background:url(images/time.jpg) no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
	background-size:cover;
}

#docs main {
    background:url(images/time.jpg) no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
	background-size:cover;
	text-align:center;
}

#docs main h1{
  color:white;
}
#docs main h4{
  color:white;
}

@media screen and (max-width:600px) {
   #home  h1{
        font-size:40px;
    }
    #home  p{
        font-size:20px;
    }
}
@media screen and (max-width:700px) {
   #hours  h1{
        font-size:40px;
    }
    #hours  p{
        font-size:20px;
    }
}
